#container{
	align-items: flex-start;
	justify-content: flex-end;
}

#info{
	position: fixed;
}

#infoh3{	
	color: gray;
	opacity: 0.7;
}

.main{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: minmax(130px, 1fr) 4fr;
	width: 100vw;
	height: 100vh;
}