h1,
h3 {
  text-align: center;
  width: 700px;
}

hr {
  width: 80%;
  border: 0;
  border-top: 2px solid white;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  margin: 0;
  width: 30%;
}

#inicioh3 {
  padding: 1%;
}
