.sobreParagraph{
    padding: 0;
    margin: 0;
    text-align: center;
}

.Sobre{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#sobreTitle{
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#sobreContent{
    padding: 30px;
    width: 100%;
    height: 70%;
    text-align: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: auto;    
}