.viewer {
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  width: 80%;
  transition: all 0.5s;
  height: 100%;
  overflow: auto;
}

.hidden {
  opacity: 0;
}
