html, body{
	width: 100%;
	height: 100%;
	background-image: url(header.jpg);
	background-size: cover;
	background-position: center;
}

.container-custom{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(38px, 2fr) 1fr 2fr;
	width: 100%;
	height: 100%;
}

.container > div{
	justify-self: center;
	align-self: end;
}

.title-container{
	display: flex;
	justify-content: end;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.line-container{
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.line-container > div{
	width: 200px;
	border-bottom: 1px solid #FF3500;
}

.button-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
}

h1{
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	color: white;
	font-family: 'Segoe UI';
}

.btn{
	margin: 50px 0 0 0;
	background-color: #FF3500;
	border-color: #FF8900;
	display: inline-block;
	width: 150px;
	align-self: start;
	justify-self: center;
}